.App {
  text-align: center;
}

.app__header {
  font-size: calc(10px + 2vmin);
}

.app__title {
  font-size: 2vw;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 64px;
  padding: 32px;
}